<%- include("header"); -%>

    <div class="box" id="heading">
        <h1>
            <%= listTitle %>
        </h1>
    </div>

    <div class="box">
        <% for (var i=0; i < newListItems.length; i++) { %>
            <div class="item">
                <input type="checkbox">
                <p>
                    <%= newListItems[i] %>
                </p>
            </div>
            <% } %>

                <form class="item" action="/" method="post">
                    <input type="text" name="newItem" placeholder="To Do Item" autocomplete="off">

                    <!-- This uses the name list and value lastTitle to help push the item to proper array based on which list is used. -->
                    <button type="submit" name="list" value=<%=listTitle %>>+</button>
                </form>
    </div>

<%- include("footer"); -%>